@import '../../styles/typography.scss';

.loginPage {
  @extend .mainText;
  color: var(--text-color-contrast);
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 211px);
}

.caption {
  margin: 26px 0 28px 0;
  font-size: 13px;
  letter-spacing: normal;
}

.form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.input {
  width: 100%;
  margin: 0 0 15px 0;
}

.create {
  margin: 24px 0 40px 0;
  font-size: 13px;
  letter-spacing: normal;
  span {
    //color: var(--text-color-contrast);
    color: var(--text-color-600);
  }
  a {
    font-weight: 600;
    color: var(--neutral-color-1);
  }
  a:hover {
    //color: car();
  }
}
