@import '../../../styles/typography.scss';

.authorCard {
  @extend .mainText;
  display: flex;
  margin: 15px 0 0 15px;
  background-color: var(--secondary-color);
  border-radius: 8px;
  box-shadow: 0px 5px 10px var(--shadow-color);
  color: var(--text-color-contrast);
  transition: all 0.2s linear;
  &:hover {
    transform: scale(1.05);
  }
}

.image {
  height: 200px;
  width: 150px;
  background-color: var(--secondary-color);
  border-radius: 8px;
  box-shadow: 0px 5px 10px var(--shadow-color);
  transform: translate(-15px, -15px);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid var(--text-color-300);
  }
}

.text {
  width: 250px;
  padding: 10px 10px 10px 0px;
  text-align: justify;
}

.name {
  margin: 0 0 5px 0;
}

.bio {
  font-size: 14px;
}

.viewMore {
  color: var(--neutral-color-1);
  font-weight: 700;
  cursor: pointer;
  &:hover {
    color: var(--hover-neutral-color-1);
  }
}
