:root {
  --white: #fff;

  --black-100: #111111;

  --grey-100: #f6f6f6;
  --grey-200: #e0e0e0;
  --grey-300: #c4c4c4;
  --grey-400: #bcbcbc;
  --grey-500: #888888;
  --grey-600: #7a7a7a;

  //--blue-100: #393280;
  --blue-100: #678faf;
  --blue-200: #173f5f;

  --red-100: #ff7d63;
  --red-200: #ed553b;
}

html[color-theme='light'] {
  --primary-color: var(--grey-100);

  --secondary-color: var(--white);

  --neutral-color-1: var(--blue-200);
  --neutral-color-2: var(--red-200);

  --text-color-100: var(--grey-100);
  --text-color-200: var(--grey-200);
  --text-color-300: var(--grey-300);
  --text-color-400: var(--grey-400);
  --text-color-500: var(--grey-500);
  --text-color-600: var(--grey-600);
  --text-color-contrast: var(--black-100);

  --hover-neutral-color-1: var(--blue-100);
  --hover-neutral-color-2: var(--red-100);
}
