@import '../../styles/typography.scss';

.registrationPage {
  @extend .mainText;
}

.registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 211px);
}

.caption {
  margin: 26px 0 28px 0;
  font-size: 13px;
  letter-spacing: normal;
}

.form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.input {
  width: 100%;
  margin: 0 0 15px 0;
}
