.btn {
  position: relative;
  padding: 13px 27px;
  border: 1px solid #fff;
  font-size: 0.75rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: #fff;
  overflow: hidden;
  cursor: pointer;
  &::before {
    content: '';
    width: 100%;
    height: 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: -1;
    background: #fff;
    transition: all 0.7s ease;
  }
  &:hover::before {
    height: 500%;
  }
  &:hover {
    color: #000;
  }
}
