.header {
  position: sticky;
  top: 0;

  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  background-color: var(--secondary-color);
  z-index: 1;

  transition: top 0.4s ease-out;
}

.hide {
  top: -122px;
}

.topPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

.logo {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  cursor: pointer;
  svg {
    width: 100%;
    height: 100%;
    path {
      fill: var(--neutral-color-1);
    }
  }
}

.searchBar {
  position: relative;
}

.searchInput {
  width: 617px;
  padding: 14px 66px 14px 24px;
  background-color: var(--primary-color);
  color: var(--text-color-contrast);
  border: none;
  outline: none;
  border-radius: 20px;
  &::placeholder {
    color: var(--text-color-400);
    font-weight: 600;
    letter-spacing: 0.12em;
  }
}

.searchIcon {
  position: absolute;
  width: 28px;
  height: 28px;
  padding: 5px;
  top: 50%;
  left: calc(100% - 42px);
  transform: translateY(-50%);
  cursor: pointer;
  path {
    fill: var(--text-color-contrast);
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
  color: var(--neutral-color-1);
  a {
    display: flex;
    align-items: center;
    padding: 0 17px;
  }
  svg {
    margin: 0 10px 0 0;
    path {
      fill: var(--neutral-color-1);
      stroke: var(--neutral-color-1);
    }
  }
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  background-color: var(--neutral-color-1);
}

.navbarList {
  display: flex;
}

.navbarItem {
  padding: 0 40px;
  font-size: 18px;
  font-weight: 400;
  //color: var(--black-100);
  color: var(--secondary-color);
}

.activeLink {
  font-weight: 800;
  color: var(--white);
}
