@import '../../styles/typography.scss';

.account {
  display: flex;
}

.menu {
  @extend .mainText;
  width: 350px;
  padding: 0 20px 0 0;
  border-right: 1px solid var(--neutral-color-1);
}

.menuItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  cursor: pointer;
  &:hover {
    background-color: var(--hover-neutral-color-1);
  }
}

.icon {
  width: 15px;
  height: 15px;
  margin: 0 10px 0 0;
  path {
    fill: var(--neutral-color-1);
  }
}

.activeLink {
  background-color: var(--neutral-color-1);
  color: var(--secondary-color);
  .icon path {
    fill: var(--secondary-color);
  }
}

.content {
  flex: 1;
  padding: 0 20px;
}
